:root{
    --blanco: #ffffff;
    --azul: #284C76;
    --negro: #000000;
    --gris: #EAEAEA;
}
html{
    font-size: 62.5%;
    box-sizing: border-box; 
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'Krub', sans-serif;
    font-size: 16px;                /*1rem = 10px*/
    background-color: var(--gris);
    align-items: center;
    justify-content: center;
}
/** Encabezado **/
.encabezado{
    background-color: var(--azul);
    padding: .3rem;
}
.encabezado img{
    padding: 2rem;
    margin-left: 2rem;
    height: 10rem;
    width: 20rem;
}
.encabezado section{
    display: flex;
    align-items: center;
    background-color: var(--blanco);
}
.encabezado h1{
    margin-left: 2rem;
    color: var(--azul);
    font-weight: bold;
}
@media (max-width: 768px) { 
    .encabezado img{
        padding: 1rem;
        margin-left: 1rem;
        height: 8rem;
        width: 16rem;
    }
    .encabezado h1{
        margin-left: 3rem;
    }
}
@media (max-width: 480px) { 
    .encabezado img{
        padding: 1rem;
        margin-left: 1rem;
        height: 8rem;
        width: 16rem;
    }
    .encabezado h1{
        margin-left: 1.5rem;
        font-size: 20px;
    }
}
.titulo{
    background-color: var(--azul);
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
.titulo p{
    color: var(--blanco);
    font-size: 25px;
    margin-bottom: 2rem;
    margin-left: 2.3rem;
}
.titulo span{
    display: inline-block;
    background-color: var(--blanco);
    width: 20rem;
    height: .1rem;
    margin-bottom: 3rem;
}
/** Termina Encabezado **/

/** Cuerpo Index **/
.contenedor{
    width: min(123rem, 100%);
    margin: 0 auto;
}
.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor h2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10rem;
    font-size: 28px;
}
.texto p{
    font-size: 23px;
}
@media (max-width: 48px) { 
    .contenedor h2{
        font-size: 24px;
    }
    .contenedor p{
        font-size: 18px;
    }
}
.texto button:hover{
    background-color: var(--negro);
}
.texto button{
    width: 38.5rem;
    background-color: var(--azul);
    padding: 1.5rem;
    border-radius: 2.5rem;
    border: none;
    margin-top: 5rem;
    font-size: 18px;
    margin-bottom: 5rem;
}
.texto a{
    text-decoration: none;
    color: var(--blanco);
}
/** Termina cuerpo Index **/

/** Footer **/

.pie{
    margin-top: 50px;
    background-color: var(--azul);
    padding: .3rem;
}
.pie img{
    padding: 2rem; 
    margin-left: 1rem;
    height: 20rem;
    width: 14rem;
}
.pie section{
    background-color: var(--blanco);
    display: flex;
    justify-content: flex-start;
}
.pie div{
    margin-left: 3rem;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}
.pie h4{
    margin: 1.5rem;
}
@media (max-width: 768px) { 
    .pie div{
        margin-left: 1rem;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    .pie div{
        margin-left: 1rem;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 15px;
    } 
    .pie img{
        margin: auto auto;
        margin-left: 2rem;
        padding: 1rem; 
        height: 20rem;
        width: 15rem;
    }   
}
/** Termina Footer **/

/** Inicio de Sesion**/
.form-1{
    padding: 60px 40px 30px 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    margin: 6rem auto;   
}
.form-1 h2{
    font-size: 30px;
    margin: 0;
}
.line{
    display: inline-block;
    width: 50px;
    height: 7px;
    background: linear-gradient(90deg, rgb(49, 226, 138) 0%, rgb(77, 163, 233) 77%);
}
.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}   
.iniciose{
    color: var(--negro);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;

}
.crearcuenta{
    color: var(--negro);
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 15px;
}
.btn{
    width: 28rem;
    background-color: var(--azul);
    color: var(--blanco);
    padding: 15px;
    border-radius: 2.5rem;
    border: none;
    margin-top: 2.5rem;
    font-size: 15px;
    text-decoration: none;
}
.btn:hover{
    background-color: var(--negro);
}
.sesion{
    padding: 17px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid --gris;
    color: var(--negro);
    outline: none;
}
/**Termina Inicio de Sesion**/

/**Crear Cuenta**/
.form-crear-cuenta{
    background-color: var(--blanco);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.4); 
    width: min(70rem, 100%);
    margin: 5rem auto;
    padding: 4rem;
    border-radius: 1.5rem;
}
.form-crear-cuenta fieldset{
    border: none;
}

.campos{
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.campos label{
    background-color: var(--gris);
    padding: 1rem;
    font-weight: bold;
    margin-bottom: .5rem;
    border-color: var(--negro);
    border-radius: 1rem;
    width: 20rem;
}
.input-text{
    border-width: .1rem;
    border-color: var(--negro);
    border-radius: 1rem;
    padding: 1.5rem;
    margin-left: 2rem;
    width: 60%;
}
.botones{
    display: flex;
    justify-content: center;
}
.btn2:hover{
    background-color: var(--negro);
}
.btn2{
    width: 20rem;
    background-color: var(--azul);
    color: var(--blanco);
    padding: 15px;
    border-radius: 2.5rem;
    border: none;
    margin: 1rem;    
    font-size: 16px;
    text-decoration: none;
}

/**Termina Crear Cuenta**/

